/* Con las clases '' */
input.ng-touched.ng-invalid {
    border: 2px solid red;
}

/* Con las clases '' */
input.ng-touched.ng-valid {
    border: 2px solid green;
}

.mensaje-error{
    color: red;
}

/* Hay un selector cuando el botón esté desabilitado */
button:disabled {
    background-color: lightgray;
    border: 1px solid gray;
}